.contact-text,.container-img{
  padding: 10px;
}
.container-image-contact{
  background: #00CC99;
  margin:20px;
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
  justify-content: space-around;
  border-radius: 10px;
}

@media screen and (max-width: 600px){
  .container-img{
    width: 15vw;
    height: 15vw;
    justify-content: center;
  }

  .container-image-contact {
    margin:20px;
    background: #fff;
    align-items: center;
    flex-direction: row;
  }
}

@media screen and (max-width: 300px) {
  .container-img {
    display: none;
  }
}

