body{
  margin: 0;
}


.button-edit-component{
  position: absolute;
  right: 50px;
  bottom: 50px;
}

.container-section{
  position: relative;
}

.toast-top-right{
  top: 50px !important;
  right: 12px;
}


@media (max-width: 600px) {

  .button-edit-component{
    position: absolute;
    right: 15px;
    bottom: 15px;
  }

  .toast-top-right{
    top: 70px !important;
    right: 12px;
  }
}
